In [ ]:
import os
import pandas as pd
import numpy as np
import time
import importlib
import warnings
warnings.filterwarnings("ignore")  # Oculta todos los warnings

# My libraries
import get_data as gd
import transform_data as tf
import normalize_data as nd

In [26]:
# import pyfiglet
# print(pyfiglet.figlet_format("Autoventa WSSP"))

banner = r"""
    _         _                       _         __        ______ ____  ____  
   / \  _   _| |_ _____   _____ _ __ | |_ __ _  \ \      / / ___/ ___||  _ \ 
  / _ \| | | | __/ _ \ \ / / _ \ '_ \| __/ _` |  \ \ /\ / /\___ \___ \| |_) |
 / ___ \ |_| | || (_) \ V /  __/ | | | || (_| |   \ V  V /  ___) |__) |  __/ 
/_/   \_\__,_|\__\___/ \_/ \___|_| |_|\__\__,_|    \_/\_/  |____/____/|_|                                                                                                                                                         

          üí• AUTOMATIZADOR DE FORMATO AUTOVENTA POR SEDE üí•
"""

print(banner, end='\n\n')
time.sleep(1)

    _         _                       _         __        ______ ____  ____
   / \  _   _| |_ _____   _____ _ __ | |_ __ _  \ \      / / ___/ ___||  _ \
  / _ \| | | | __/ _ \ \ / / _ \ '_ \| __/ _` |  \ \ /\ / /\___ \___ \| |_) |
 / ___ \ |_| | || (_) \ V /  __/ | | | || (_| |   \ V  V /  ___) |__) |  __/
/_/   \_\__,_|\__\___/ \_/ \___|_| |_|\__\__,_|    \_/\_/  |____/____/|_|

          üí• AUTOMATIZADOR DE FORMATO AUTOVENTA POR SEDE üí•

In [ ]:
# Variables
PROJECT_ADDRESS = os.getcwd()
CAMANA = {
    'source': os.path.join(PROJECT_ADDRESS, '06 Autoventa JUNIO Camana 2025.xlsx'),
    'sheet_name': 'DETALLE',
    'irrelevant_columns': [
        'Basis',
        'RUTA', 
        'DNI',
        'Importe Facturado',
        'Valor de Venta',
        'Importe IGV'
    ],
    'cargo_renames': {
        "AUXILIAR REPARTO": "AUXILIAR DE REPARTO",
        "AYUDANTE REPARTO": "AUXILIAR DE REPARTO",
        "CHOFER - VENDEDOR": "CHOFER VENDEDOR"
    },
    'producto_renames': {
        "INCAKOLA 3 LITROS": "INCA KOLA PET 3.0 L x04 REFORMADA",
        "INCA KOLA PET 2..5 LX06 RF 2.0": "INCA KOLA PET 2.5LX06 RF",
        "COCA COLA PET.2.5 X6 RF": "COCA COLA PET 2.5X6 RF",
        "SAN LUIS 2500": "SL SG 2.5x06 PET"
    }
}

# Listas
LOCACIONES = ['PEDREGAL', 'CHALA', 'CAMAN√Å']

### Camana

In [84]:
importlib.reload(gd)
camana = gd.get_camana_data(CAMANA)

In [88]:
importlib.reload(tf)
camana_transformed = tf.transform_data_camana(camana)

In [ ]:
importlib.reload(nd)
camana_normalized = nd.normalize_data_camana(camana)

In [ ]:
# FALTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
# agregar columna con su sede
camana["Sede"] = "CAMAN√Å"
print(camana.info())

# ordenar las columnas del dataframe
camana = camana[["Fecha", "Sede", "APELLIDOS Y NOMBRE", "CARGO", "Producto", "Cantidad"]]
print(camana.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  253 non-null    object
 1   CARGO               253 non-null    object
 2   Producto            253 non-null    object
 3   1/05/2025           0 non-null      float64
 4   2/05/2025           29 non-null     float64
 5   3/05/2025           28 non-null     float64
 6   4/05/2025           0 non-null      float64
 7   5/05/2025           27 non-null     float64
 8   6/05/2025           10 non-null     float64
 9   7/05/2025           13 non-null     float64
 10  8/05/2025           38 non-null     float64
 11  9/05/2025           20 non-null     float64
 12  10/05/2025          27 non-null     float64
 13  11/05/2025          0 non-null      float64
 14  12/05/2025          20 non-null     float64
 15  13/05/2025          18 non-null     float64
 16  14/05/2025          11 non-null     float64
 17  15/05/2025          6 non-null      float64
 18  16/05/2025          18 non-null     float64
 19  17/05/2025          17 non-null     float64
 20  18/05/2025          0 non-null      float64
 21  19/05/2025          19 non-null     float64
 22  20/05/2025          6 non-null      float64
 23  21/05/2025          19 non-null     float64
 24  22/05/2025          19 non-null     float64
 25  23/05/2025          13 non-null     float64
 26  24/05/2025          16 non-null     float64
 27  25/05/2025          8 non-null      float64
 28  26/05/2025          4 non-null      float64
 29  27/05/2025          6 non-null      float64
 30  28/05/2025          8 non-null      float64
 31  29/05/2025          13 non-null     float64
 32  30/05/2025          13 non-null     float64
 33  31/05/2025          7 non-null      float64
dtypes: float64(31), object(3)
memory usage: 67.3+ KB
None

### Pedregal

In [44]:
limpiar_archivo("pedregal.csv", "pedregal.csv")

In [50]:
pedregal = pd.read_csv('pedregal.csv')
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  238 non-null    object
 1   CHOFER              245 non-null    float64
 2   CARGO               266 non-null    object
 3   Basis               266 non-null    int64
 4   Producto            266 non-null    object
 5   Valor de Venta      266 non-null    float64
 6   Importe IGV         266 non-null    float64
 7   Importe Facturado   266 non-null    float64
 8   1/05/2025           0 non-null      float64
 9   2/05/2025           58 non-null     float64
 10  3/05/2025           59 non-null     float64
 11  4/05/2025           0 non-null      float64
 12  5/05/2025           61 non-null     float64
 13  6/05/2025           65 non-null     float64
 14  7/05/2025           68 non-null     float64
 15  8/05/2025           53 non-null     float64
 16  9/05/2025           55 non-null     float64
 17  10/05/2025          61 non-null     float64
 18  11/05/2025          0 non-null      float64
 19  12/05/2025          72 non-null     float64
 20  13/05/2025          50 non-null     float64
 21  14/05/2025          59 non-null     float64
 22  15/05/2025          52 non-null     float64
 23  16/05/2025          41 non-null     float64
 24  17/05/2025          44 non-null     float64
 25  18/05/2025          0 non-null      float64
 26  19/05/2025          59 non-null     float64
 27  20/05/2025          54 non-null     float64
 28  21/05/2025          58 non-null     float64
 29  22/05/2025          51 non-null     float64
 30  23/05/2025          50 non-null     float64
 31  24/05/2025          56 non-null     float64
 32  25/05/2025          57 non-null     float64
 33  26/05/2025          60 non-null     float64
 34  27/05/2025          51 non-null     float64
 35  28/05/2025          54 non-null     float64
 36  29/05/2025          57 non-null     float64
 37  30/05/2025          51 non-null     float64
 38  31/05/2025          58 non-null     float64
dtypes: float64(35), int64(1), object(3)
memory usage: 81.2+ KB
None

In [53]:
# Rellenar los valores faltantes en la columna con el valor anterior
pedregal["APELLIDOS Y NOMBRE"] = pedregal["APELLIDOS Y NOMBRE"].ffill()
pedregal["CARGO"] = pedregal["CARGO"].ffill()
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  266 non-null    object
 1   CARGO               266 non-null    object
 2   Producto            266 non-null    object
 3   1/05/2025           0 non-null      float64
 4   2/05/2025           58 non-null     float64
 5   3/05/2025           59 non-null     float64
 6   4/05/2025           0 non-null      float64
 7   5/05/2025           61 non-null     float64
 8   6/05/2025           65 non-null     float64
 9   7/05/2025           68 non-null     float64
 10  8/05/2025           53 non-null     float64
 11  9/05/2025           55 non-null     float64
 12  10/05/2025          61 non-null     float64
 13  11/05/2025          0 non-null      float64
 14  12/05/2025          72 non-null     float64
 15  13/05/2025          50 non-null     float64
 16  14/05/2025          59 non-null     float64
 17  15/05/2025          52 non-null     float64
 18  16/05/2025          41 non-null     float64
 19  17/05/2025          44 non-null     float64
 20  18/05/2025          0 non-null      float64
 21  19/05/2025          59 non-null     float64
 22  20/05/2025          54 non-null     float64
 23  21/05/2025          58 non-null     float64
 24  22/05/2025          51 non-null     float64
 25  23/05/2025          50 non-null     float64
 26  24/05/2025          56 non-null     float64
 27  25/05/2025          57 non-null     float64
 28  26/05/2025          60 non-null     float64
 29  27/05/2025          51 non-null     float64
 30  28/05/2025          54 non-null     float64
 31  29/05/2025          57 non-null     float64
 32  30/05/2025          51 non-null     float64
 33  31/05/2025          58 non-null     float64
dtypes: float64(31), object(3)
memory usage: 70.8+ KB
None

In [54]:
# rellenar 'espacios vacios' o 'punto' con NaN
pedregal = pedregal.replace(r'^\s*$|^\.$', np.nan, regex=True)

# rellenar los valores NaN con 0
pedregal = pedregal.fillna(0)
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  266 non-null    object
 1   CARGO               266 non-null    object
 2   Producto            266 non-null    object
 3   1/05/2025           266 non-null    float64
 4   2/05/2025           266 non-null    float64
 5   3/05/2025           266 non-null    float64
 6   4/05/2025           266 non-null    float64
 7   5/05/2025           266 non-null    float64
 8   6/05/2025           266 non-null    float64
 9   7/05/2025           266 non-null    float64
 10  8/05/2025           266 non-null    float64
 11  9/05/2025           266 non-null    float64
 12  10/05/2025          266 non-null    float64
 13  11/05/2025          266 non-null    float64
 14  12/05/2025          266 non-null    float64
 15  13/05/2025          266 non-null    float64
 16  14/05/2025          266 non-null    float64
 17  15/05/2025          266 non-null    float64
 18  16/05/2025          266 non-null    float64
 19  17/05/2025          266 non-null    float64
 20  18/05/2025          266 non-null    float64
 21  19/05/2025          266 non-null    float64
 22  20/05/2025          266 non-null    float64
 23  21/05/2025          266 non-null    float64
 24  22/05/2025          266 non-null    float64
 25  23/05/2025          266 non-null    float64
 26  24/05/2025          266 non-null    float64
 27  25/05/2025          266 non-null    float64
 28  26/05/2025          266 non-null    float64
 29  27/05/2025          266 non-null    float64
 30  28/05/2025          266 non-null    float64
 31  29/05/2025          266 non-null    float64
 32  30/05/2025          266 non-null    float64
 33  31/05/2025          266 non-null    float64
dtypes: float64(31), object(3)
memory usage: 70.8+ KB
None

In [55]:
# transformar tabla formato reporte autoventa gral
pedregal = pd.melt(
    pedregal,
    id_vars=["APELLIDOS Y NOMBRE", "CARGO", "Producto"],  # Las columnas que deben permanecer fijas
    var_name="Fecha",                                     # Nombre de la nueva columna para las fechas
    value_name="Cantidad"                                 # Nombre de la nueva columna con los valores
)

In [56]:
# eliminar filas cuando 'cantidad' sea 0
pedregal = pedregal[pedregal["Cantidad"] != 0]
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1514 entries, 272 to 8245
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  1514 non-null   object
 1   CARGO               1514 non-null   object
 2   Producto            1514 non-null   object
 3   Fecha               1514 non-null   object
 4   Cantidad            1514 non-null   float64
dtypes: float64(1), object(4)
memory usage: 71.0+ KB
None

In [57]:
# corregir nombre de cargo
pedregal["CARGO"] = pedregal["CARGO"].replace({
    "AUXILIAR REPARTO": "AUXILIAR DE REPARTO",
    "AYUDANTE REPARTO": "AUXILIAR DE REPARTO",
    "CHOFER - VENDEDOR": "CHOFER VENDEDOR"
})
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1514 entries, 272 to 8245
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  1514 non-null   object
 1   CARGO               1514 non-null   object
 2   Producto            1514 non-null   object
 3   Fecha               1514 non-null   object
 4   Cantidad            1514 non-null   float64
dtypes: float64(1), object(4)
memory usage: 71.0+ KB
None

In [58]:
# eliminar espacios dobles "  " y cambiarlos por un solo espacio " " de la columna Producto
pedregal["Producto"] = pedregal["Producto"].replace(r'\s+', ' ', regex=True)

# cambiar nombre de productos                ("nombre anterior", "nombre nuevo")
pedregal["Producto"] = pedregal["Producto"].replace("INCAKOLA 3 LITROS", "INCA KOLA PET 3.0 L x04 REFORMADA")
pedregal["Producto"] = pedregal["Producto"].replace("INCA KOLA PET 2..5 LX06 RF 2.0", "INCA KOLA PET 2.5LX06 RF")
pedregal["Producto"] = pedregal["Producto"].replace("COCA COLA PET.2.5 X6 RF", "COCA COLA PET 2.5X6 RF")
pedregal["Producto"] = pedregal["Producto"].replace("SAN LUIS 2500", "SL SG 2.5x06 PET")

print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1514 entries, 272 to 8245
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  1514 non-null   object
 1   CARGO               1514 non-null   object
 2   Producto            1514 non-null   object
 3   Fecha               1514 non-null   object
 4   Cantidad            1514 non-null   float64
dtypes: float64(1), object(4)
memory usage: 71.0+ KB
None

In [59]:
# agregar columna con su sede
pedregal["Sede"] = "PEDREGAL"
print(pedregal.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1514 entries, 272 to 8245
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  1514 non-null   object
 1   CARGO               1514 non-null   object
 2   Producto            1514 non-null   object
 3   Fecha               1514 non-null   object
 4   Cantidad            1514 non-null   float64
 5   Sede                1514 non-null   object
dtypes: float64(1), object(5)
memory usage: 82.8+ KB
None

In [60]:
# ordenar las columnas del dataframe
pedregal = pedregal[["Fecha", "Sede", "APELLIDOS Y NOMBRE", "CARGO", "Producto", "Cantidad"]]
print(pedregal.info())

# guardar el dataframe en csv con formato utf-8
pedregal.to_csv("pedregal_procesado.csv", index=False, encoding="utf-8-sig")

<class 'pandas.core.frame.DataFrame'>
Index: 1514 entries, 272 to 8245
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha               1514 non-null   object
 1   Sede                1514 non-null   object
 2   APELLIDOS Y NOMBRE  1514 non-null   object
 3   CARGO               1514 non-null   object
 4   Producto            1514 non-null   object
 5   Cantidad            1514 non-null   float64
dtypes: float64(1), object(5)
memory usage: 82.8+ KB
None

### Chala

In [5]:
limpiar_archivo("chala.csv", "chala.csv")

In [6]:
chala = pd.read_csv('chala.csv')
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  20 non-null     object
 1   CARGO               20 non-null     object
 2   Producto            260 non-null    object
 3   1/05/2025           10 non-null     float64
 4   2/05/2025           10 non-null     float64
 5   3/05/2025           17 non-null     float64
 6   4/05/2025           0 non-null      float64
 7   5/05/2025           24 non-null     float64
 8   6/05/2025           7 non-null      object
 9   7/05/2025           11 non-null     float64
 10  8/05/2025           6 non-null      float64
 11  9/05/2025           8 non-null      float64
 12  10/05/2025          21 non-null     object
 13  11/05/2025          0 non-null      float64
 14  12/05/2025          26 non-null     float64
 15  13/05/2025          10 non-null     float64
 16  14/05/2025          15 non-null     float64
 17  15/05/2025          5 non-null      float64
 18  16/05/2025          8 non-null      float64
 19  17/05/2025          14 non-null     float64
 20  18/05/2025          0 non-null      float64
 21  19/05/2025          16 non-null     float64
 22  20/05/2025          6 non-null      float64
 23  21/05/2025          9 non-null      float64
 24  22/05/2025          8 non-null      float64
 25  23/05/2025          7 non-null      object
 26  24/05/2025          9 non-null      float64
 27  25/05/2025          16 non-null     float64
 28  26/05/2025          4 non-null      float64
 29  27/05/2025          6 non-null      float64
 30  28/05/2025          4 non-null      float64
 31  29/05/2025          10 non-null     float64
 32  30/05/2025          5 non-null      float64
 33  31/05/2025          0 non-null      float64
dtypes: float64(28), object(6)
memory usage: 69.2+ KB
None

In [7]:
# Rellenar los valores faltantes en la columna con el valor anterior
chala["APELLIDOS Y NOMBRE"] = chala["APELLIDOS Y NOMBRE"].ffill()
chala["CARGO"] = chala["CARGO"].ffill()
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  260 non-null    object
 1   CARGO               260 non-null    object
 2   Producto            260 non-null    object
 3   1/05/2025           10 non-null     float64
 4   2/05/2025           10 non-null     float64
 5   3/05/2025           17 non-null     float64
 6   4/05/2025           0 non-null      float64
 7   5/05/2025           24 non-null     float64
 8   6/05/2025           7 non-null      object
 9   7/05/2025           11 non-null     float64
 10  8/05/2025           6 non-null      float64
 11  9/05/2025           8 non-null      float64
 12  10/05/2025          21 non-null     object
 13  11/05/2025          0 non-null      float64
 14  12/05/2025          26 non-null     float64
 15  13/05/2025          10 non-null     float64
 16  14/05/2025          15 non-null     float64
 17  15/05/2025          5 non-null      float64
 18  16/05/2025          8 non-null      float64
 19  17/05/2025          14 non-null     float64
 20  18/05/2025          0 non-null      float64
 21  19/05/2025          16 non-null     float64
 22  20/05/2025          6 non-null      float64
 23  21/05/2025          9 non-null      float64
 24  22/05/2025          8 non-null      float64
 25  23/05/2025          7 non-null      object
 26  24/05/2025          9 non-null      float64
 27  25/05/2025          16 non-null     float64
 28  26/05/2025          4 non-null      float64
 29  27/05/2025          6 non-null      float64
 30  28/05/2025          4 non-null      float64
 31  29/05/2025          10 non-null     float64
 32  30/05/2025          5 non-null      float64
 33  31/05/2025          0 non-null      float64
dtypes: float64(28), object(6)
memory usage: 69.2+ KB
None

In [8]:
# rellenar 'espacios vacios' o 'punto' con NaN
chala = chala.replace(r'^\s*$|^\.$', np.nan, regex=True)

# rellenar los valores NaN con 0
chala = chala.fillna(0)
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  260 non-null    object
 1   CARGO               260 non-null    object
 2   Producto            260 non-null    object
 3   1/05/2025           260 non-null    float64
 4   2/05/2025           260 non-null    float64
 5   3/05/2025           260 non-null    float64
 6   4/05/2025           260 non-null    float64
 7   5/05/2025           260 non-null    float64
 8   6/05/2025           260 non-null    object
 9   7/05/2025           260 non-null    float64
 10  8/05/2025           260 non-null    float64
 11  9/05/2025           260 non-null    float64
 12  10/05/2025          260 non-null    object
 13  11/05/2025          260 non-null    float64
 14  12/05/2025          260 non-null    float64
 15  13/05/2025          260 non-null    float64
 16  14/05/2025          260 non-null    float64
 17  15/05/2025          260 non-null    float64
 18  16/05/2025          260 non-null    float64
 19  17/05/2025          260 non-null    float64
 20  18/05/2025          260 non-null    float64
 21  19/05/2025          260 non-null    float64
 22  20/05/2025          260 non-null    float64
 23  21/05/2025          260 non-null    float64
 24  22/05/2025          260 non-null    float64
 25  23/05/2025          260 non-null    object
 26  24/05/2025          260 non-null    float64
 27  25/05/2025          260 non-null    float64
 28  26/05/2025          260 non-null    float64
 29  27/05/2025          260 non-null    float64
 30  28/05/2025          260 non-null    float64
 31  29/05/2025          260 non-null    float64
 32  30/05/2025          260 non-null    float64
 33  31/05/2025          260 non-null    float64
dtypes: float64(28), object(6)
memory usage: 69.2+ KB
None

In [9]:
# transformar tabla formato reporte autoventa gral
chala = pd.melt(
    chala,
    id_vars=["APELLIDOS Y NOMBRE", "CARGO", "Producto"],  # Las columnas que deben permanecer fijas
    var_name="Fecha",                                     # Nombre de la nueva columna para las fechas
    value_name="Cantidad"                                 # Nombre de la nueva columna con los valores
)

In [10]:
# eliminar filas cuando 'cantidad' sea 0
chala = chala[chala["Cantidad"] != 0]
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 3 to 7788
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  289 non-null    object
 1   CARGO               289 non-null    object
 2   Producto            289 non-null    object
 3   Fecha               289 non-null    object
 4   Cantidad            289 non-null    object
dtypes: object(5)
memory usage: 13.5+ KB
None

In [11]:
# corregir nombre de cargo
chala["CARGO"] = chala["CARGO"].replace({
    "AUXILIAR REPARTO": "AUXILIAR DE REPARTO",
    "AYUDANTE REPARTO": "AUXILIAR DE REPARTO",
    "CHOFER - VENDEDOR": "CHOFER VENDEDOR"
})
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 3 to 7788
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  289 non-null    object
 1   CARGO               289 non-null    object
 2   Producto            289 non-null    object
 3   Fecha               289 non-null    object
 4   Cantidad            289 non-null    object
dtypes: object(5)
memory usage: 13.5+ KB
None

In [12]:
# eliminar espacios dobles "  " y cambiarlos por un solo espacio " " de la columna Producto
chala["Producto"] = chala["Producto"].replace(r'\s+', ' ', regex=True)

# cambiar nombre de productos                ("nombre anterior", "nombre nuevo")
chala["Producto"] = chala["Producto"].replace("INCAKOLA 3 LITROS", "INCA KOLA PET 3.0 L x04 REFORMADA")
chala["Producto"] = chala["Producto"].replace("INCA KOLA PET 2..5 LX06 RF 2.0", "INCA KOLA PET 2.5LX06 RF")
chala["Producto"] = chala["Producto"].replace("COCA COLA PET.2.5 X6 RF", "COCA COLA PET 2.5X6 RF")
chala["Producto"] = chala["Producto"].replace("SAN LUIS 2500", "SL SG 2.5x06 PET")

print(chala.info())

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 3 to 7788
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  289 non-null    object
 1   CARGO               289 non-null    object
 2   Producto            289 non-null    object
 3   Fecha               289 non-null    object
 4   Cantidad            289 non-null    object
dtypes: object(5)
memory usage: 13.5+ KB
None

In [13]:
# agregar columna con su sede
chala["Sede"] = "CHALA"
print(chala.info())

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 3 to 7788
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   APELLIDOS Y NOMBRE  289 non-null    object
 1   CARGO               289 non-null    object
 2   Producto            289 non-null    object
 3   Fecha               289 non-null    object
 4   Cantidad            289 non-null    object
 5   Sede                289 non-null    object
dtypes: object(6)
memory usage: 15.8+ KB
None

In [14]:
# ordenar las columnas del dataframe
chala = chala[["Fecha", "Sede", "APELLIDOS Y NOMBRE", "CARGO", "Producto", "Cantidad"]]
print(chala.info())

# guardar el dataframe en csv con formato utf-8
chala.to_csv("chala_procesado.csv", index=False, encoding="utf-8-sig")

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 3 to 7788
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha               289 non-null    object
 1   Sede                289 non-null    object
 2   APELLIDOS Y NOMBRE  289 non-null    object
 3   CARGO               289 non-null    object
 4   Producto            289 non-null    object
 5   Cantidad            289 non-null    object
dtypes: object(6)
memory usage: 15.8+ KB
None

### JUNTAR PROCESADOS

In [212]:
# Como buscar un registro espec√≠fico
# resultado = chala[(chala["Fecha"] == "14/04/2025") & (chala["APELLIDOS Y NOMBRE"] == "QUISPE HUARCAYA JORGE LUIS")]
# print(resultado)

In [15]:
locaciones = ['camana', 'pedregal', 'chala',]
dfs = [pd.read_csv(f'{x}_procesado.csv') for x in locaciones]
df_total = pd.concat(dfs, ignore_index=True)

# Guardar concatenacion de csv
df_total.to_csv("historial_autoventa.csv", index=False, encoding="utf-8-sig")